.playerSidebarOptions {
    display: flex;
    align-items: center;
    color: gray;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
}

.playerSidebar > hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}

.playerSidebarOptions:hover {
    color: white;
}

.playerSidebarOptions__icon {
    padding-left: 10px;
    padding-right: 10px;
}

.playerSidebarOptions > p {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
}
